
/* Your CSS Code here. */
.moviePic{
	height:400px;
	width:400px;
	opacity:80%;
	align-content:center;
	
}
.movieDetail{
	position:fixed;
	top:450px;
	width:1000px;
	text-align:left;
	font-size:100%;
}